.card-main{
    width: 60%;
    height: 60vh;
    background-color: $primary;
    box-shadow: 4px 4px 4px $primary;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    
    
}
