.card-image{
    width: 1100px;
    height: 50vh;
    margin-top: 43px;
    transform: translate(-8rem);
    background-image: url('./images/img-1.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 8px;

}